@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;500;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #3a5a40;
}

                          /* Header styles */
.header_div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
 }

.header_logo {
  font-weight: 500;
  right: 100%;
  font-size: 2rem;
  color: #d4a373;
  font-family: 'Lexend', sans-serif;
}

.header_logo:hover {
  color: #344e41;
  transition: color 0.4s ease-in-out;
}

.header_img_background {
  background-image: url('../images/images.jpg');
  background-size: cover;
  background-position: center;
}


.nav_element {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.nav_element li, a{
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  list-style-type: none;
  text-decoration: none;
  color: #d4a373;
  padding: 10px;
  border-radius: 1rem;
}
.navbar a:hover {
  color: #344e41;
  transition: background-color 0.4s ease-in-out;
}

.icons {
  font-size: 1.5em;
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons_i:hover {
  color:#344e41;
  transition: color 0.3s ease-in-out;
}
.header_title {
  font-family: 'Lexend', sans-serif;
  margin: 90px 0px 0px 100px;
}

.header_title h3 {
  font-size: 30px;
  margin-bottom: -0.2rem;
  text-transform: uppercase;
}

.header_subtitle_text {
  font-weight: 300;
}

.header_button {
  background-color: #344e41;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 1rem;
  font-weight: bold;
  margin-bottom: 8rem;
  margin-top: 2rem;
}

.header_button a {
  text-decoration: none;
  color: white;
}

.header_button:hover {
  background-color: #d4a373;
  transition: background-color 0.4s ease-in-out;
}

.header_button:hover a {
  color: #344e41;
  transition: color 0.4s ease-in-out;
}

/*  Product styles */






/*  Footer styles */



                                  