* {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

                          /* Header styles */
.header_div {
  display: flex;
  flex-direction: row;
  border: 2px solid red;
}

.header_logo {
  font-weight: 500;
  right: 100%;
  border:2px solid blue;
}

.nav_element {
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.nav_element li, a{
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: aqua;
  border-radius: 1rem;
}

.icons {
  border: 2px solid yellow;
}