@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;500;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

                          /* Header styles */
.header_div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
 }

.header_logo {
  font-weight: 500;
  right: 100%;
  font-size: 2rem;
  color: #6a994e;
  font-family: 'Lexend', sans-serif;
}

.header_img_background {
  background-image: url('../images/header_img.jpeg');
  background-size: cover;
  background-position: center;
}


.nav_element {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.nav_element li, a{
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  list-style-type: none;
  text-decoration: none;
  color: #6a994e;
  padding: 10px;
  border-radius: 1rem;
}
.navbar a:hover {
  color: #eb5e28;
  transition: background-color 0.4s ease-in-out;
}

.icons {
  font-size: 1.5em;
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header_title {
  font-family: 'Lexend', sans-serif;
  text-align: center;
  color: #fff;
  margin: 8rem 2rem 0 2rem;
}

.header_title h3 {
  font-size: 30px;
  margin-bottom: -0.2rem;
  text-transform: uppercase;
}

.header_subtitle_text {
  font-weight: 300;
}

.header_button {
  background-color: #6a994e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 1rem;
  font-weight: bold;
  margin-bottom: 8rem;
  margin-top: 10px;
}

.header_button a {
  text-decoration: none;
  color: white;
}

.header_button:hover {
  background-color: #eb5e28;
  transition: background-color 0.4s ease-in-out;
}

.header_button:hover a {
  color: black;
  transition: color 0.4s ease-in-out;
}


.section__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: left;
  margin: 5rem 2rem;
}


.section__product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.section__product img {
  width: 30%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}








                                  